.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  margin: 42px auto 0 62px;
}

.u-section-1 .u-form-1 {
  height: 78px;
  margin: 22px 508px 60px 62px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-right: 308px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 88px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 600px;
}

.u-section-2 .u-video-1 {
  height: 641px;
  margin-top: -277px;
  margin-bottom: 60px;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%;
  top: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 678px;
  }

  .u-section-2 .u-video-1 {
    height: 719px;
  }

  .u-section-2 .embed-responsive-1 {
    width: 178%;
    height: 178%;
    left: -39%;
    top: -39%;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-2 .u-video-1 {
    height: 641px;
  }

  .u-section-2 .embed-responsive-1 {
    width: 211%;
    height: 100%;
    left: -49%;
    top: 0%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .embed-responsive-1 {
    width: 335%;
    left: -107%;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 157px;
}